* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #33ccff, #ff99cc);
    font-family: 'Tilt Neon', cursive;
    display: flex;
    align-items: center;
}

.mainBox {
    height: 600px;
    width: 800px;
    background-color: #93ccdf;
    border-radius: 10px;
    position: relative;
}

.active {
    background-color: #ff99cc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.activeClass{
     display: none;
}
.activeClass2{
    display: none;
}
.hidden {
    display: none;
}

.centerBtns {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bTns {
    transition: 1s ease-in-out;
    background-image: linear-gradient(to left, #33ccff, #ff99cc);
    border-radius: 50px;
    font-size: 16px;
    padding: 5px 10px;
}

.diceScore {
    background-color: #93ccdf;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}

.bTns:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgb(80, 75, 75);
}
